body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
  }
  
  li {
    color: 1e2939;
    font-size: 14px;
    line-height: 24px;

  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px; 
    margin-left: 15px;   
  }

  p, ul, ol, h4 {
    margin: 0;
  }

  .about-me-profession {
    margin-bottom: 16px;
  }

  .my-projects-section {
    margin-top: 8px;
  }

.mainContainer {
  display: grid;
  grid-template-columns: 240px 2fr;}

.generalContainer {
    background: #8e9297;
    width: 100%;
}


.sidebar-titles {
  width: 240px;
  background: #4a515a;
  color: #f5f7fa;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
}


.about-me-section {
  background: #4a515a;
  color: #f5f7fa;
  padding: 16px 96px 16px 16px;
}

.about-me-summary {
    text-transform: uppercase;
}

.about-me-name {
  text-align: center;
  text-transform: uppercase;
}

.about-me-profession{
  text-align: center;
  text-transform: uppercase;
}


.main-contact-title {
  width: 100%;
  background: #4a515a;
  color: #f5f7fa;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
}

.my-projecs-link {
  font: 1em sans-serif;
  text-decoration: underline;
  margin: 0;
}

.my-projecs-brecket {
  width: 528px;
  margin: 0;
}

.my-work-experiance-company-block {
  padding-left: 16px;
}

.projects-item {
  margin-top: 8px;
}

.my-work-experiance-section {
  margin-top: 8px;
}

.border {
  border-bottom: solid #4a515a;
}