body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
  }
  
  li {
    color: 1e2939;
    font-size: 14px;
    line-height: 24px;
  }

.mainContainer {
    display: block;
}

.generalContainer {
    display: flex;
    background: #1e2939;
    width: 100%;
}